* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    min-height: 2000px;
    padding-bottom: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #f0f0f0;
}

.navbar-header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 110px;
    z-index: 999;
    transition: all 0.5s ease;
}

.navbar-container {
    height: auto;
    min-height: 10px;
    width: 74.6vw;
    margin-left: auto;
    margin-right: auto;
}

.navbar-container .img1 img {
    float: left;
    height: auto;
    width: 155px;
    display: block;
}

.navbar-container .img2 img {
    float: left;
    height: auto;
    width: 50px;
    display: none;
}

.navbar-options {
    position: relative;
    display: flex;
    justify-content: space-around;
    float: right;
    width: 700px;
    height: auto;
    min-height: 10px;
}

.navbar-options a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #F0F0F0;
    font-size: 16px;
    letter-spacing: 1px;
    float: left;
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
}

.navbar-options i {
    float: right;
    font-size: 30px;
    color: #F0F0F0;
    display: none;
}

.navbar-options a:hover {
    transition: 0.4s;
    border-bottom: 4px solid #bed537;
}

.main-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 520px;
    background-image: url('images/photo-back.jpg');
    background-size: cover;
}

.push-down {
    flex: 20;
}

.main-banner-text {
    flex: 55;
    width: 100%;
}

.main-banner-text h1 {
    letter-spacing: 1px;
    font-family: 'Oswald';
    padding-top: 35px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
}

.main-banner-text h1 em {
    font-style: normal;
    color: #ff803a;
}

.main-banner-text h1 i {
    font-style: normal;
    color: #bdd436;
}

.main-banner-text h1 small {
    font-size: 22px;
    font-weight: 500;
    display: block;
    color: #fff;
    text-align: left;
    margin-left: 2em;
}

.main-banner-text h1 .main {
    font-size: 155px;
    letter-spacing: 1px;
    line-height: 140px;
    width: 100%;
    display: block;
    margin: 0 0 35px 0;
}

.main-banner-text h1 .sub {
    font-size: 18px;
    display: block;
    text-transform: none;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    font-weight: 500
}

.main-banner-text h1 .sub::before {
    content: " ";
    display: block;
    background: #fff;
    height: 9px;
    width: 20%;
    position: absolute;
    left: -20%;
    top: 5px;
}

.main-banner-text h1 .sub::after {
    content: " ";
    display: block;
    background: #fff;
    height: 9px;
    width: 20%;
    position: absolute;
    right: -20%;
    top: 5px;
}

.main-banner-btn {
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    flex: 20;
    width: 100%;
}

.main-banner-btn button {
    width: 350px;
    background: #bdd436 !important;
    border: 2px solid #bdd436 !important;
    color: #FFF !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
    padding: 11px 36px !important;
    border-radius: 25px !important;
    font-family: 'Open Sans';
}

.main-banner-btn button:hover {
    background: #C8E23A !important;
    color: #fff !important;
    border: 2px solid #C8E23A !important;
}

.center-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 48px;
}

.container-intro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 375px;
}

.container-inner-intro {
    padding-bottom: 10px;
    text-align: center;
    width: 85%;
    height: auto;
    min-height: 375px;
}

.container-inner-intro p {
    position: relative;
    top: 40px;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0px;
    color: #6A787C;
}

.container-inner-intro h4 {
    color: #6A787C;
    position: relative;
    top: 40px;
    width: 100%;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    margin-top: 36px;
    font-family: 'Oswald';
}

.container-inner-intro h4 em {
    font-weight: bold;
    color: #bdd436;
    font-style: normal;
}

.container-inner-intro h4:before{
    content: " ";
    display: block;
    background: url(images/sprite_home.png);
    width: 75px;
    height: 75px;
    margin: 0 auto;
    background-position: -22px -113px;
    margin-bottom: 20px;
}

.container-learn {
    top: -10px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #97A2A7;
    position: relative;
    width: 100%;
    height: 540px;
    background-color: #ffffff;
}

.container-inner-learn {
    display: flex;
    align-items: center;
    width: 65%;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
}

.learn-about {
    color: #8f8787;
    line-height: 1.428571429;
    flex: 1;
    height: 450px;
}

.learn-about p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    min-height: 300px;
    position: relative;
    text-align: center;
    width: 100%;
}

.learn-about p a {
    color: #bdd436;
    text-decoration: none;
}

.pos1::before {
    content: "";
    display: block;
    width: 131px;
    height: 160px;
    background: url(images/sprite_home.png) no-repeat;
    margin: 0 auto 27px auto;
    background-position: -311px -100px;
}

.pos2::before {
    content: "";
    display: block;
    height: 160px;
    background: url(images/sprite_home.png) no-repeat;
    margin: 0 auto 27px auto;
    background-position: -119px -100px;
    width: 94px;
}

.pos3::before {
    content: "";
    display: block;
    width: 74px;
    height: 160px;
    background: url(images/sprite_home.png) no-repeat;
    margin: 0 auto 27px auto;
    background-position: -227px -91px;
}

.container-help {
    box-sizing: border-box;
    position: relative;
    top: 30px;
    width: 100%;
    height: auto;
    min-height: 650px;
    padding-bottom: 30px;
}

.container-inner-help {
    width: 1000px;
    height: auto;
    min-height: 650px;
    margin: 0 auto;
}

.container-inner-help h2 {
    width: 100%;
    text-align: center;
    font-family: 'Oswald';
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    color: #40666d;
}

.container-inner-help h2 em {
    font-weight: bold;
    color: #bdd436;
    font-style: normal;
}

.container-inner-help h6 {
    font-family: 'Open Sans';
    font-weight: 500;
    line-height: 1.1;
    color: #40666d;
    font-size: 22px;
    margin: 5px 0 70px;
    text-align: center;
    width: 100%;
}

.container-flex-help {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    width: 90%;
    height: auto;
    min-height: 450px;
    transition: all 500ms;
}

.container-grid-clmn {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
    position: relative;
    height: auto;
    min-height: 400px;
    transition: all 500ms;
}

.cont-help-item {
    background-color: #ffffff;
}

.cont-help-item p {
    background: #fff;
    margin: 0 0 15px 0;
    padding: 30px 1em;
    font-size: 24px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
    color: #40666d;
    font-family: 'Open Sans';
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}

.cont-help-item p small {
    font-size: 16px;
    color: #858585;
    display: block;
    margin-top: 5px;
    font-family: 'Open Sans';
    font-weight: 500;
}

.container-help-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
    width: 100%;
    height: auto;
    min-height: 100px;
}

.container-help-btn button {
    background: #bdd436 !important;
    border: 2px solid #bdd436 !important;
    color: #FFF !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
    padding: 11px 36px !important;
    border-radius: 25px !important;
}

.container-last {
    position: relative;
    top: 80px;
    width: 100%;
    height: auto;
    min-height: 900px;
    background-color: coral;
}

.cont-header-last {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 120px;
    background-color: cyan;
}

.cont-header-last h2 {
    width: 100%;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    font-family: 'Oswald';
}

@media only screen and (max-device-width: 1147px) {
    .navbar-options {
        top: 10px;
        width: 600px;
    }

    .navbar-container {
        width: 90%;
    }

    .navbar-container .img2 img {
        float: left;
        height: auto;
        width: 50px;
        display: block;
    }

    .navbar-container .img1 img {
        float: left;
        height: auto;
        width: 50px;
        display: none;
    }
    
    .container-inner-learn {
        width: 95%;
    }
}

@media only screen and (max-device-width: 768px) {
    .navbar-options a {
        display: none;
    }

    .navbar-options i {
        display: block;
    }

    .navbar-options {
        justify-content: flex-end;
    }

    .container-inner-intro {
        width: 100%;
        min-height: 400px;
    }

    .container-learn {
        top: 40px;
        height: auto;
        min-height: 400px;
    }

    .container-inner-learn {
        flex-direction: column;
        height: auto;
        width: 100%;
        min-height: 400px;
    }

    .learn-about {
        border: none;
        padding-bottom: 100px;
        padding-top: 100px;
        width: 100%;
    }

    .main-banner-text h1 small {
        text-align: center;
    }

    .main-banner-btn button {
        width: 95%;
    }

    .container-help {
        top: 60px;
        position: relative;
    }

    .container-inner-help {
        width: 95%;
    }

    .container-flex-help {
        grid-template-columns: auto;
        grid-gap: 15px;
    }
}